.ticket-form-container {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 98%;
}

.ticket-form-container h1{
    font-size: 10px;
}

.form-group-criar {
    margin-bottom: 15px;
}

.submit-button {
    padding: 10px 50px;
    border: none;
    background-color: #ff5757;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    width: fit-content;
}

.submit-button:hover {
    background-color: #e04e4e;
}

.form-group-criar{
    width: 900px;
    padding: 6px;
}

.form-group-criar label {
    display: block;
    margin-bottom: 5px;
}

.form-group-criar input[type="text"],
.form-group-criar input[type="date"],
.form-group-criar select,
.form-group-criar textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}