#form-group-rel{
    margin-bottom: 20px;
}

#form-rel-selector{
    float: left;
}

.components-container{
    clear: both;
    padding: 15px;
}

.form-group-relatorio {
    align-content: center;
    padding: 6px;
    margin: 5px auto;
}

.form-group-relatorio-acao {
    align-content: center;
    width: 70%;
}

.bt-relatorio-submit {
    width: 50%;
}

.bt-relatorio-submit button {
    margin-left: 65%;
    margin-top: 10px;
}

.result-relatorio {
    margin-left: 50%;
}

.link-gerar-relatorio {
    font-size: 18px;
    margin-left: 17%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.link-gerar-relatorio:hover{
    cursor: pointer;
    text-decoration: underline;
}