body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.page_title{
    top: 0;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: sticky;
    z-index: 999; /* para garantir que o título fique acima do conteúdo */
}

.page_content{
    max-height: calc(100vh - 60px); /* ajuste a altura conforme necessário */
    overflow-y: auto; /* permitir rolagem apenas para o conteúdo */
}

.message-box {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-content {
    display: flex;
    align-items: center;
}

.message-content button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}